{
  "useTabs": false,
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "overrides": [
    {
      "files": [".*rc"],
      "excludeFiles": [".browserslistrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
