{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "no-empty-source": null,
    "color-no-hex": true,
    "unit-disallowed-list": ["px", "rad", "pt", "ex"]
  }
}
